@import "../../../styles/mixins";
@import "../../../styles/typography.scss";

.carouselContainer {
  @include splash;
  min-height: 100vh;
  background-color: transparent;

  .slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--color-blue-dark);
    height: 100%;
    overflow: hidden;
  }
}
