@import "../../../styles/mixins";
@import "../../../styles/variable.scss";
@import "../../../styles/typography";

.header {
  @include flex(row, center, center);
  height: 100%;
  padding: 120px 0 0 0;
  width: 100%;

  @include sm-max {
    padding: 60px 0 0 0;
  }

  .contentWrapper {
    height: auto;
    text-align: left;

    @include sm-max {
      padding-bottom: 0;
      height: 100%;
    }

    .text {
      @extend .text;
      color: var(--color-light);
      padding-bottom: 27px;
      margin-bottom: 30px;

      @include sm-max {
        padding-bottom: 0;
      }
    }

    .btnsWrap {
      @include flex(row, center, space-between);
    }
  }
}
